/* ======================== 
   RESET & DEFAULTS 
   ======================== */

/* Universal Selector & Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  background-color: white;
}

/* ======================== 
   TYPOGRAPHY 
   ======================== */

/* Element Selectors  */
h1 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}
h2 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}
h3 {
  color: rgb(0, 0, 0);
  font-size: 1.17rem;
}
h4 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}
p {
  line-height: 2;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
header h1 {
  margin-left: 1rem;
}
nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  background-color: rgb(255, 0, 0);
  align-items: center;
  width: 30rem;
  height: 66px;
}
nav {
  margin-left: auto;
}
a {
  display: inline-flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.2rem 1rem;
}
a:hover {
  color: red;
  background-color: rgb(241, 241, 241);
  border-radius: 1rem;
  margin: 0;
}

/* Class Selectors */
.hero {
  position: relative;
  text-align: center;
  min-height: 70vh;
  align-content: center;
  /* ปรับสีฟ้อนใหม่ */
}
.hero::before {
  content: "";
  inset: 0;
  position: absolute;
  background-image: url(/images/img-background.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: blur(0.15rem);
}
.card {
  /*ตรงนี้เป็น card เรียงแนวเดียว*/
  padding: 2px;
  border: 2px;
  box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
  background-color: rgb(160, 160, 160);
  display: inline-flex;
  margin: 1rem 1rem;
  width: 20rem;
  flex-direction: column;
  border-radius: 1rem;
}
.btn {
  padding: 0;
  border: 0;
  box-shadow: 0;
}
.sections {
  /* จัดระยะห่าง */
  margin: 0;
}

/* ID Selectors */
menu:hover {
}
items:hover {
}
button:hover {
}
card:hover {
}
button:active {
}
